@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
    object-fit: cover;
    height: 230px;
}
body{
    background-color: #CAB8FF;
}
h1{
    text-align: center;
    color: #FCFFA6;
    font-size: 3rem;
    margin: 30px;
    font-weight: 600;
}
.card{
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FCFFA6;
    align-items: flex-start;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin: 30px auto;
}
.card-img{
    width: 100%;
}
.card-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1.1px;
    
}
.card-price{
    background-color: #516BEB;
    font-size: 1.3rem;
    margin: 20px 0 5px 0;
    padding: 6px 15px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.card-info{
    
    letter-spacing: 1px;
    transition: all 0.5s ease-out;
}

.readmore-btn{
    padding: 5px 10px;
    color: rgb(15, 15, 251);
    border: none;
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bolder;
}
.readmore-btn:hover{
    cursor: pointer;
}